div.video-detail div.icons {
	position: absolute;
	top: 60px;
	left: 373px;
}

div.video-detail div.icons ul {
	float: left;
}

div.video-detail div.icons ul:first-child	li {
	width: 32px;
	height: 32px;
	margin-right: 3px;
}

div.video-detail div.icons ul:first-child li a {
	position: relative;
}

div.video-detail div.icons span.body {
	padding-left: 24px;
	font-size: 80%;
	line-height: 48px;
	float: left;
}

div.video-detail div.icons span.body {
	background: transparent url( /cms/videa/images/videa/ico-smile-4-hover.png) no-repeat scroll 2px center;
	color: #4b88cf;
}

div.video-detail ul.hodnoceni {
	position: absolute;
	top: 16px;
	left: 107px;
	width: 85px;
}

div.video-detail ul.hodnoceni li {
	width: 16px;
	height: 16px;
}

div.video-detail ul.hodnoceni li a {
	display: block;
	width: 16px;
	height: 16px;
}

div.video-detail ul.hodnoceni li.h0 {
	background-image: url( /cms/videa/images/videa/ico-smile-0.png);
}

div.video-detail ul.hodnoceni li.h0:hover {
	background-image: url( /cms/videa/images/videa/ico-smile-0-hover.png);
}

div.video-detail ul.hodnoceni li.h1 {
	background-image: url( /cms/videa/images/videa/ico-smile-1.png);
}

div.video-detail ul.hodnoceni li.h1:hover {
	background-image: url( /cms/videa/images/videa/ico-smile-1-hover.png);
}

div.video-detail ul.hodnoceni li.h2 {
	background-image: url( /cms/videa/images/videa/ico-smile-2.png);
}

div.video-detail ul.hodnoceni li.h2:hover {
	background-image: url( /cms/videa/images/videa/ico-smile-2-hover.png);
}

div.video-detail ul.hodnoceni li.h3 {
	background-image: url( /cms/videa/images/videa/ico-smile-3.png);
}

div.video-detail ul.hodnoceni li.h3:hover {
	background-image: url( /cms/videa/images/videa/ico-smile-3-hover.png);
}

div.video-detail ul.hodnoceni li.h4 {
	background-image: url( /cms/videa/images/videa/ico-smile-4.png);
}

div.video-detail ul.hodnoceni li.h4:hover {
	background-image: url( /cms/videa/images/videa/ico-smile-4-hover.png);
}

div.video-detail div.buttons {
	position: absolute;
	top: 55px;
	right: 20px;
	width: 540px;
}

div.video-detail div.buttons ul {
	padding-left: 0px;
}

div.video-detail div.buttons ul li {
	background: transparent url( /cms/videa/images/videa/bg-button-blue-w80.png) no-repeat scroll left center;
	width: 80px;
	height: 28px;
	margin-right: 10px;
	text-align: center;
	line-height: 27px;
}

div.video-detail div.buttons ul li:hover {
	background: transparent url( /cms/videa/images/videa/bg-button-hover-w80.png) no-repeat scroll left center;
}

div.video-detail div.buttons ul li:hover a {
	color: #4b88cf;
	text-decoration: none;
}

div.video-detail div.buttons a {
	position: relative;
	color: #fff;
}
