body {
    background-color: lightblue;
}
textarea, input {
    color: #495057;
    outline: none;
    border: rgb(206, 212, 218) 1px solid;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
    background-color: white;
}
input:focus {
        border-color: red;
        box-shadow: 0 0 0 0.2rem rgba(255,255,255,.50);
}
.text01 {
     background-color: black;
}
.text02 {
color: blue;
    outline: none;
    border: rgb(0, 0, 0) 0px solid;
    padding: 0px 0px 0px 0px;
    border-radius: 4px;
    background-color: lightblue;
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.0);
}