div.top.hry div.static {
    background-color: #fdebeb;
}

div.top.hry ul.menu li a {
    color: #e34444;
}

div.top.hry h2 {
    background: transparent url( /cms/hry/images/hry/top-shadow.png) repeat-x scroll right top;
    color: #e34444;
}

div.top.hry div.hledat a {
    background: transparent url( /cms/hry/images/hry/ico-hledat-hry.png) no-repeat scroll 2px center;
}

div.top.hry div.bg-bottom {
    background: transparent url( /cms/hry/images/hry/bg-top-bottom-bottom.png) no-repeat scroll left bottom;
}

div.top.hry ul.menu li.nove {
    background: transparent url( /cms/hry/images/hry/hry-nove.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.nove:hover, div.top.hry ul.menu li.nove.active {
    background: transparent url( /cms/hry/images/hry/hry-nove-hover.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.nej {
    background: transparent url( /cms/hry/images/hry/hry-nej.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.nej:hover, div.top.hry ul.menu li.nej.active {
    background: transparent url( /cms/hry/images/hry/hry-nej-hover.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.online {
    background: transparent url( /cms/hry/images/hry/top-online.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.online:hover, div.top ul.menu li.online.active {
    background: transparent url( /cms/hry/images/hry/top-online-hover.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.napady {
    background: transparent url( /cms/hry/images/hry/top-napady.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.napady:hover, div.top ul.menu li.napady.active {
    background: transparent url( /cms/hry/images/hry/top-napady-hover.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.typy {
    background: transparent url( /cms/hry/images/hry/top-typy.png) no-repeat scroll center top;
    margin-left: 90px;
}

div.top.hry ul.menu li.typy:hover, div.top ul.menu li.typy:active {
    background: transparent url( /cms/hry/images/hry/top-typy-hover.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.nazev {
    background: transparent url( /cms/hry/images/hry/top-nazev.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.nazev:hover, div.top.hry ul.menu li.nazev.active {
    background: transparent url( /cms/hry/images/hry/top-nazev-hover.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.zajem {
    background: transparent url( /cms/hry/images/hry/top-zajem.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.zajem:hover, div.top ul.menu li.zajem.active {
    background: transparent url( /cms/hry/images/hry/top-zajem-hover.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.obtiznost {
    background: transparent url( /cms/hry/images/hry/top-obtiznost.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.obtiznost:hover, div.top ul.menu li.obtiznost.active {
    background: transparent url( /cms/hry/images/hry/top-obtiznost-hover.png) no-repeat scroll center top;
}

div.top.hry ul.menu li.oblibene {
    background: transparent url( /cms/hry/images/hry/top-oblibene.png) no-repeat scroll center top;
    margin-left: 630px;
}

div.top.hry ul.menu li.oblibene:hover, div.top ul.menu li.oblibene.active {
    background: transparent url( /cms/hry/images/hry/top-oblibene-hover.png) no-repeat scroll center top;
}

div.top-bottom > div {
    background: #fdebeb url("/cms/hry/images/hry/bg-top-bottom-shadow.png") repeat-x scroll left 22px;
}

div.top div.top-bottom {
    background: transparent url( /cms/hry/images/hry/bg-top-bottom-bottom.png) no-repeat scroll left bottom;
}

/* --------------- */

div.content.hry ul.buttons li a {
    color: #e34444;
}

div.content.hry ul.buttons li.nejnovejsi a {
    background: transparent url( /cms/hry/images/hry/ico-nejnovejsi.png) no-repeat scroll 22px center;
}

div.content.hry ul.buttons li.nejnovejsi:hover a, div.content.hry ul.buttons li.nejnovejsi:active a {
    background: transparent url( /cms/hry/images/hry/ico-nejnovejsi-hover.png) no-repeat scroll 21px center;
}

div.content.hry ul.buttons li.nejnovejsi + li a {
    background: transparent url( /cms/hry/images/hry/ico-nejhranejsi.png) no-repeat scroll 22px center;
}

div.content.hry ul.buttons li.nejnovejsi + li:hover a, div.content.hry ul.buttons li.nejnovejsi + li:active a {
    background: transparent url( /cms/videa/images/videa/ico-nejhranejsi-hover.png) no-repeat scroll 22px center;
}

div.content.hry ul.buttons li:hover, div.content.hry ul.buttons li:active {
    background: transparent url( /cms/hry/images/hry/bg-button-w142-hover.png) no-repeat scroll right top;
}

div.content.hry ul.buttons li.ostatni a {
    background: transparent url( /cms/hry/images/hry/ico-ostatni-hraji.png) no-repeat scroll 17px center;
}

div.content.hry ul.buttons li.ostatni:hover a, div.content.hry ul.buttons li.ostatni:active a {
    background: transparent url( /cms/videa/images/videa/ico-ostatni-hover.png) no-repeat scroll 16px center;
}

div.content.hry ul.buttons li.ostatni:hover, div.content ul.buttons li.ostatni:active {
    background: transparent url( /cms/hry/images/hry/bg-button-w202-hover.png) no-repeat scroll right top;
}

div.content.hry ul.buttons li:hover a, div.content.hry ul.buttons li:active a {
    color: #fff;
}

div.content.hry a.dalsi {
    background: transparent url( /cms/hry/images/hry/hry-bg-button-dalsi.png) no-repeat scroll right top;
    margin-top: 20px;
}

div.content.hry a.dalsi:hover {
    background-position: right bottom;
}

div.content.hry div div.bottom {
    background: transparent url("/cms/hp/images/hp/bg-content-hry.png") no-repeat scroll left center;
    width: 282px;
    height: 36px;
}

/*div.content div.bigger div.item a > div, */
div.content div.smaller div.item a > div,
div.inner-a {
    height: 34px;
    vertical-align: middle;
    display: table-cell;
    overflow: hidden;
    padding-right: 10px;
}

div.content.hry span.tag {
    color: #ffc2c7;
}

div.content.hry div.ico-big.game {
    background: transparent url( /cms/hp/images/hp/ico-content-game.png) no-repeat scroll center center;
}

div.content.hry div.ico-big.knowledge {
    background: transparent url( /cms/hp/images/hp/ico-content-knowledge.png) no-repeat scroll center center;
}

div.content.hry.napady div.ico-big {
    background: transparent url( /cms/hry/images/hry/ico-napady.png) no-repeat scroll center center;
}

div.content.hry div.ico-typ {
    width: 26px;
    height: 21px;
    position: absolute;
    bottom: 14px;
    left: 16px;
}

div.content.hry div.logicke div.ico-typ {
    background: transparent url( /cms/hry/images/hry/ico-logicke.png) no-repeat scroll left 4px;
}

div.content.hry div.akcni div.ico-typ {
    background: transparent url( /cms/hry/images/hry/ico-akcni.png) no-repeat scroll left center;
}

div.content.hry div.tvorive div.ico-typ {
    background: transparent url( /cms/hry/images/hry/ico-tvorive.png) no-repeat scroll left center;
}

div.content.hry div.poslechove div.ico-typ {
    background: transparent url( /cms/hry/images/hry/ico-poslechove.png) no-repeat scroll left center;
}

div.content.hry div.ico-uroven {
    width: 25px;
    height: 7px;
    position: absolute;
    bottom: 21px;
    right: 10px;
}

div.content.hry div.ico-uroven.u1 {
    background: transparent url( /cms/hry/images/hry/hry-uroven1.png) no-repeat scroll center center;
}

div.content.hry div.ico-uroven.u2 {
    background: transparent url( /cms/hry/images/hry/hry-uroven2.png) no-repeat scroll center center;
}

div.content.hry div.ico-uroven.u3 {
    background: transparent url( /cms/hry/images/hry/hry-uroven3.png) no-repeat scroll center center;
}

div.content.hry div.ico-uroven.u4 {
    background: transparent url( /cms/hry/images/hry/hry-uroven4.png) no-repeat scroll center center;
}

/* --- Hry --- Podle nazvu --- START */

div.top div.top-bottom div.nazev {
    height: 195px;
}

div.top div.top-bottom div.nazev img.ukazatel {
    right: 354px;
}

/*div.top div.top-bottom div.nazev ul.abeceda li.wide {
        background: transparent url( /cms/videa/images/videa/bg-letter-wide.png) no-repeat scroll left top;
}*/

div.top.hry div.top-bottom div.nazev ul.abeceda li a {
    color: #e34545;
}

div.top.hry div.top-bottom div.nazev ul.abeceda li:hover, div.top.hry div.top-bottom div.nazev ul.abeceda li.active {
    background: transparent url( /cms/hry/images/hry/bg-letter-hover.png) no-repeat scroll left center;
}

div.top.hry div.top-bottom div.nazev ul.abeceda li.wide:hover, div.top.hry div.top-bottom div.nazev ul.abeceda li.wide.active {
    background: transparent url( /cms/hry/images/hry/bg-letter-wide-hover.png) no-repeat scroll left center;
}

div.top div.top-bottom div.nazev ul.abeceda li:hover a, div.top div.top-bottom div.nazev ul.abeceda li.active a {
    color: #fff;
}

/*div.top div.top-bottom ul li:hover {
        background: #fff url( /cms/hry/images/hry/bg-button-w235-hover.png) no-repeat scroll left center;
}*/

div.top.hry div.top-bottom ul li a {
    color: #e34545;
}

div.top.hry div.top-bottom div.vysledky ul li.r0 {
    color: #cca9a9;
}

/* --- Hry --- Podle nazvu --- END */

/* --- Hry --- Detail --- START */

/*div.content.porad div.content.hry div.items {
    margin-top: 10px;
}*/

div.content.hry div.hra-detail iframe {
    border: none;
    padding: 0px;
    margin: 0px;
    width: 1088px;
    height: 612px;
}

div.content.hry div#container {
    background-color: #000;
}

div.content.hry div.hra-detail {
    display: none;
    clear: both;
    float: left;
}

/*div.content.hry div.hra-detail .iframe-container {
	position: relative;
}*/

div.content.hry div.hra-detail a.sezente-ovecky {
	width: 1088px;
	height: 612px;
	display: block;
}

#cboxClose{
    z-index: 100000; border: none; position:absolute; top:-8px; right: -10px;
    background: transparent url(/cms/sezente-ovecky-data/images/colorbox/btn-close.png) no-repeat top left;
    width: 51px; height: 78px; text-indent: -9999px; outline: none;
}
#cboxClose:hover{
    background-position:bottom left;
}

div.content.hry div.hra-detail div.box-content {
    padding: 10px 56px;
}

div.porad-detail, div.content.hry div.hra {
    background: transparent url( /cms/hry/images/hry/bg-detail.png) no-repeat scroll left bottom;
    height: 678px;
    width: 1086px;
    position: relative;
    padding: 12px 57px 5px 57px;
    display: none;
    clear: both;
}

body.iframe {
    background: none;
}

div.content.hry div.hra {
    display: block;
}

div.content.hry div.hra-detail img.ukazatel, div.porad-detail img.ukazatel {
    position: absolute;
    top: 8px;
    left: 130px;
}

div.content.hry div.hra-detail h2, div.porad-detail h2, div.content.hry div.hra h2 {
    color: #e34444;
    font-weight: normal;
    text-shadow: 1px 1px 1px #fff;
}

div.content.hry div.hra-detail h2, div.content.hry div.hra h2 {
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 6px;
    float: left;
}

div.content.hry div.hra-detail img.hra, div.porad-detail img.hra, div.content.hry div.hra img.hra {
    position: absolute;
    top: 70px;
    left: 57px;
}

div.content.hry div.hra-detail div.uroven {
    position: absolute;
    top: 42px;
    left: 435px;
    color: #999999;
    font-size: 80%;
}

div.content.hry div.hra-detail div.uroven span, div.porad-detail div.uroven span {
    color: #e34444;
    padding-right: 46px;
}

div.content.hry div.hra-detail div.uroven.u1 span, div.porad-detail div.uroven.u1 span {
    background: transparent url( /cms/hry/images/hry/detail-uroven1.png) no-repeat scroll right center;
}

div.content.hry div.hra-detail div.uroven.u2 span, div.porad-detail div.uroven.u2 span {
    background: transparent url( /cms/hry/images/hry/detail-uroven2.png) no-repeat scroll right center;
}

div.content.hry div.hra-detail a.stranka-poradu, div.content.hry div.hra a.stranka-poradu {
    /*	top: 31px;
            left: auto;
            right: 54px;*/
    float: right;
}

div.content.hry div.hra-detail div.icons {
    position: absolute;
    top: 16px;
    left: 630px;
}

div.content div.hra-detail div.icons span.body {
    background: transparent url( /cms/hry/images/hry/ico-smile-4-hover.png) no-repeat scroll 2px center;
    color: #e34444;
}

div.content.hry div.hra-detail ul.hodnoceni {
    top: 35px;
    left: 642px;
}

div.content.hry div.hra-detail ul.hodnoceni li.h0 {
    background-image: url( /cms/hry/images/hry/ico-smile-0.png);
}

div.content.hry div.hra-detail ul.hodnoceni li.h0:hover {
    background-image: url( /cms/hry/images/hry/ico-smile-0-hover.png);
}

div.content.hry div.hra-detail ul.hodnoceni li.h1 {
    background-image: url( /cms/hry/images/hry/ico-smile-1.png);
}

div.content.hry div.hra-detail ul.hodnoceni li.h1:hover {
    background-image: url( /cms/hry/images/hry/ico-smile-1-hover.png);
}

div.content.hry div.hra-detail ul.hodnoceni li.h2 {
    background-image: url( /cms/hry/images/hry/ico-smile-2.png);
}

div.content.hry div.hra-detail ul.hodnoceni li.h2:hover {
    background-image: url( /cms/hry/images/hry/ico-smile-2-hover.png);
}

div.content.hry div.hra-detail ul.hodnoceni li.h3 {
    background-image: url( /cms/hry/images/hry/ico-smile-3.png);
}

div.content.hry div.hra-detail ul.hodnoceni li.h3:hover {
    background-image: url( /cms/hry/images/hry/ico-smile-3-hover.png);
}

div.content.hry div.hra-detail ul.hodnoceni li.h4 {
    background-image: url( /cms/hry/images/hry/ico-smile-4.png);
}

div.content.hry div.hra-detail ul.hodnoceni li.h4:hover {
    background-image: url( /cms/hry/images/hry/ico-smile-4-hover.png);
}

/* --- Hry --- Detail --- END */

/* --- Hry --- Podle tematu --- START */

div.top.hry div.top-bottom div.zajem {
    height: 125px;
}

div.top.hry div.top-bottom div.zajem img.ukazatel {
    right: 524px;
}

div.top.hry div.top-bottom ul.tema li.c1.r1 a {
    background: transparent url( /cms/hry/images/hry/ico-zvirata-priroda.png) no-repeat scroll 3px 4px;
}

div.top.hry div.top-bottom ul.tema li.c1.r2 a {
    background: transparent url( /cms/hry/images/hry/ico-veda-technika.png) no-repeat scroll 3px 4px;
}

div.top.hry div.top-bottom ul.tema li.c1.r3 a {
    background: transparent url( /cms/hry/images/hry/ico-sport.png) no-repeat scroll 3px 5px;
}

div.top.hry div.top-bottom ul.tema li.c2.r1 a {
    background: transparent url( /cms/hry/images/hry/ico-umeni.png) no-repeat scroll 3px 4px;
}

div.top.hry div.top-bottom ul.tema li.c2.r2 a {
    background: transparent url( /cms/hry/images/hry/ico-lide-spolecnost.png) no-repeat scroll 3px 4px;
}

div.top.hry div.top-bottom ul.tema li.c2.r3 a {
    background: transparent url( /cms/hry/images/hry/ico-zabava.png) no-repeat scroll 3px center;
}

div.top.hry div.top-bottom ul.tema li.c3.r1 a {
    background: transparent url( /cms/hry/images/hry/ico-zahady-dobrodruzstvi.png) no-repeat scroll 3px 5px;
}

div.top.hry div.top-bottom ul.tema li.c3.r2 a {
    background: transparent url( /cms/hry/images/hry/ico-jidlo-vareni.png) no-repeat scroll 3px 4px;
}

div.top.hry div.top-bottom ul.tema li.c3.r3 a {
    background: transparent url( /cms/hry/images/hry/ico-pohadky.png) no-repeat scroll 3px center;
}

div.top.hry div.top-bottom ul.tema li.c4.r1 a {
    background: transparent url( /cms/hry/images/hry/ico-zemepis-cestovani.png) no-repeat scroll 3px 4px;
}

div.top.hry div.top-bottom ul.tema li.c4.r2 a {
    background: transparent url( /cms/hry/images/hry/ico-historie.png) no-repeat scroll 4px 3px;
}

div.top.hry div.top-bottom ul.tema li.c4.r3 a {
    background: transparent url( /cms/hry/images/hry/ico-lidske-telo-zdravi.png) no-repeat scroll 3px 4px;
}

div.top.hry div.top-bottom ul.tema li.c5.r1 a {
    background: transparent url( /cms/hry/images/hry/ico-pro-nejmensi.png) no-repeat scroll 3px 4px;
}

/* --- Hry --- Podle tematu --- END */

/* --- Hry --- Obtiznost --- START */

div.top div.top-bottom div.obtiznost {
    height: 70px;
}

div.top div.top-bottom div.obtiznost img.ukazatel {
    right: 417px;
}

div.top div.top-bottom div.obtiznost div.buttons ul li {
    background: transparent url( /cms/hry/images/hry/bg-button-w140.png) no-repeat scroll center center;
}

div.top div.top-bottom div.obtiznost div.buttons ul li a {
    color: #fff;
}

div.top div.top-bottom div.obtiznost div.buttons ul li:hover {
    background: transparent url( /cms/hry/images/hry/bg-button-w140-hover.png) no-repeat scroll center center;
}

div.top div.top-bottom div.obtiznost div.buttons ul li:hover a {
    color: #e34444;
}

div.top-bottom div.obtiznost ul {
    margin-top: 34px;
}

div.top-bottom div.obtiznost ul li {
    background: transparent url( /cms/common/images/common/bg-button-w142.png) no-repeat scroll left top;
    width: 142px;
    font-size: 90%;
    text-align: center;
    margin-right: 10px;
}

div.top-bottom div.obtiznost ul li:hover {
    background: transparent url( /cms/hry/images/hry/bg-button-w142-hover.png) no-repeat scroll left top;
}

div.top-bottom div.obtiznost ul li:hover a {
    color: #fff;
}

div.top-bottom div.obtiznost ul li a {
    line-height: 37px;
    padding-right: 30px;
}

div.top-bottom div.obtiznost ul li.nejlehci a {
    background: transparent url( /cms/hry/images/hry/hry-uroven1-red.png) no-repeat scroll 90px center;
}

div.top-bottom div.obtiznost ul li.nejlehci:hover a, div.top-bottom div.obtiznost ul li.nejlehci:active a {
    background: transparent url( /cms/hry/images/hry/hry-uroven1.png) no-repeat scroll 90px center;
}

div.top-bottom div.obtiznost ul li.lehke a {
    background: transparent url( /cms/hry/images/hry/hry-uroven2-red.png) no-repeat scroll 90px center;
}

div.top-bottom div.obtiznost ul li.lehke:hover a, div.top-bottom div.obtiznost ul li.active a {
    background: transparent url( /cms/hry/images/hry/hry-uroven2.png) no-repeat scroll 90px center;
}

div.top-bottom div.obtiznost ul li.stredni a {
    background: transparent url( /cms/hry/images/hry/hry-uroven3-red.png) no-repeat scroll 90px center;
}

div.top-bottom div.obtiznost ul li.stredni:hover a, div.top-bottom div.obtiznost ul li.stredni:active a {
    background: transparent url( /cms/hry/images/hry/hry-uroven3.png) no-repeat scroll 90px center;
}

div.top-bottom div.obtiznost ul li.tezke a {
    background: transparent url( /cms/hry/images/hry/hry-uroven4-red.png) no-repeat scroll 90px center;
}

div.top-bottom div.obtiznost ul li.tezke:hover a, div.top-bottom div.obtiznost ul li.tezke:active a {
    background: transparent url( /cms/hry/images/hry/hry-uroven4.png) no-repeat scroll 90px center;
}

/* --- Hry --- Obtiznost --- END */

/* --- Hry --- Typy --- START */

div.top div.top-bottom div.typy {
    height: 95px;
}

div.top div.top-bottom div.typy img.ukazatel {
    left: 435px;
}

div.top-bottom div.typy ul.typ {
    clear: both;
    position: relative;
    margin: 30px 0px 0px 20px;
}

div.top-bottom div.typy ul.typ li {
    position: absolute;
    width: 170px;
}

div.top-bottom div.typy ul.typ li:hover {
    background: transparent url( /cms/hry/images/hry/bg-button-w170-hover.png) no-repeat scroll left center;
}

div.top-bottom div.typy ul.typ li a {
    line-height: 35px;
    text-shadow: 2px 3px 4px #fff;
    padding-left: 35px;
}

div.top-bottom div.typy ul.typ li:hover a {
    color: #fff;
    text-shadow: none;
}

div.top div.top-bottom div.typy ul.typ li.c2 {
    left: 215px;
}

div.top div.top-bottom div.typy ul.typ li.c3 {
    left: 430px;
}

div.top div.top-bottom div.typy ul.typ li.c4 {
    left: 645px;
}

div.top-bottom div.typy ul.typ li.c1.r1 a {
    background: transparent url( /cms/hry/images/hry/ico-hry-tvorive.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c1.r1:hover a, div.top-bottom div.typy ul.typ li.c1.r1:active a {
    background: transparent url( /cms/hry/images/hry/ico-hry-tvorive-hover.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c1.r2 a {
    background: transparent url( /cms/hry/images/hry/ico-hry-poslechove.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c1.r2:hover a, div.top-bottom div.typy ul.typ li.c1.r2:active a {
    background: transparent url( /cms/hry/images/hry/ico-hry-poslechove-hover.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c2.r1 a {
    background: transparent url( /cms/hry/images/hry/ico-hry-akcni.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c2.r1:hover a, div.top-bottom div.typy ul.typ li.c2.r1:active a {
    background: transparent url( /cms/hry/images/hry/ico-hry-akcni-hover.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c2.r2 a {
    background: transparent url( /cms/hry/images/hry/ico-hry-logicke.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c2.r2:hover a, div.top-bottom div.typy ul.typ li.c2.r2:active a {
    background: transparent url( /cms/hry/images/hry/ico-hry-logicke-hover.png) no-repeat scroll 6px center;
}

div.top-bottom div.typy ul.typ li.c3.r1 a {
    background: transparent url( /cms/hry/images/hry/ico-hry-vedomostni.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c3.r1:hover a, div.top-bottom div.typy ul.typ li.c3.r1:active a {
    background: transparent url( /cms/hry/images/hry/ico-hry-vedomostni-hover.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c3.r2 a {
    background: transparent url( /cms/hry/images/hry/ico-hry-skladacky.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c3.r2:hover a, div.top-bottom div.typy ul.typ li.c3.r2:active a {
    background: transparent url( /cms/hry/images/hry/ico-hry-skladacky-hover.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c4.r1 a {
    background: transparent url( /cms/hry/images/hry/ico-pro-nejmensi.png) no-repeat scroll 7px center;
}

div.top-bottom div.typy ul.typ li.c4.r1:hover a, div.top-bottom div.typy ul.typ li.c4.r1:active a {
    background: transparent url( /cms/hry/images/hry/ico-hry-piskoviste-hover.png) no-repeat scroll 7px center;
}

/* --- Hry --- Typy --- END */

/* --- Hry --- Oblibene --- START */

div.content.hry div.bigger div.item a.remove {
    background: transparent url( /cms/hry/images/hry/oblibene-odebrat.png) no-repeat scroll left top;
    width: 27px;
    height: 27px;
    position: absolute;
    top: -6px;
    left: 270px;
    display: block;
    padding: 0px;
}

div.content.hry div.bigger div.item a.remove:hover {
    background: transparent url( /cms/hry/images/hry/oblibene-odebrat-hover.png) no-repeat scroll left top;
}

div.content.hry.oblibene div.bigger > div {
    overflow: visible;
}

/* --- Hry --- Oblibene --- END */

div.content.hry div.gp-as {
    position: absolute;
    right: 12px;
    top: 12px;
}

div.content.hry div.gp-as a {
    float: right;
    clear: right;
    padding: 0px;
    position: relative;
}

div.content.hry div.gp-as a + a {
    margin-top: 4px;
}

div.content.hry a.appStore
/*, div.content.hry div.bigger div.item a.appStore*/
{
    background: transparent url( /cms/hry/images/hry/logo-app_store.png) no-repeat scroll left top;
    width: 94px;
    height: 28px;
    padding: 0px;
    /*	position: absolute;
            left: auto;*/
}

div.content.hry a.googlePlay
/*, div.content.hry div.bigger div.item a.googlePlay*/
{
    background: transparent url( /cms/hry/images/hry/logo-google_play.png) no-repeat scroll left top;
    width: 80px;
    height: 28px;
    padding: 0px;
    /*	position: absolute;
            left: auto;*/
}

div.hra-detail a.appStore, div.hra-detail a.googlePlay {
    float: right;
}

div.hra-detail a + a {
    margin-right: 10px;
}

div.hra-detail a[style="display: none;"] + a {
    margin-right: 0px;
}

/*a#banner-kiv {
        background: transparent url( /cms/hry/images/hry/banner-KIV.png) no-repeat scroll left top;
        width: 1200px;
        height: 204px;
        display: block;
}

a#banner-kiv:hover {
        background-position: left bottom;
}*/

.game-frame-w593 {
    width: 593px;
    height: 168px;
    display: block;
    position: relative !important;
}

.game-frame-w593 div {
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    padding: 136px 0px 0px 46px;
}

.game-frame-w593.karel {
    background: transparent url( /cms/hry/images/hry/specials/ramecek-velky-kiv.png) no-repeat scroll left top;
}

.game-frame-w593.div {
    background: transparent url( /cms/hry/images/hry/specials/ramecek-velky-div.png) no-repeat scroll left top;
}

.game-frame-w593:hover {
    background-position: left bottom !important;
}

/* subpage hry + filter-buttons*/

.filter-buttons {
    margin: 50px 0px 0px 30px;
}

.subpage.games .filter-buttons a {
    background-color: #fff;
    border: #e34444 2px solid;
    border-radius: 5px;
    color: #e34444;
    display: block;
    font-size: 14px;
    float: left;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
    /* width: 160px; */
    text-align: center;
    padding: 0 20px;
}

.subpage.games .filter-buttons a.xmas:not(.active) {
    animation-name: button-glow;
    animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes button-glow {
    0% {box-shadow: none;}
    50% {box-shadow: rgba(255,255,255,0.8) 0px 0px 14px;}
	100% {box-shadow: none;}
}

.filter-buttons a span {
    display: inline-block;
}

.subpage.games .filter-buttons a.all span {
    background: transparent url( /cms/hry/images/hry/ico-all-games.png) no-repeat scroll left top;
    padding-left: 24px;
}

.subpage.games .filter-buttons a.xmas span {
    background: transparent url( /cms/hry/images/hry/ico-adventni-hry.png) no-repeat scroll left top;
    padding-left: 30px;
}

.subpage.games .filter-buttons a.pro-nejmensi span {
    background: transparent url( /cms/hry/images/hry/ico-hry-pro-nejmensi.png) no-repeat scroll left top;
    padding-left: 30px;
}

.subpage.games .filter-buttons a.stare span {
    background: transparent url( /cms/hry/images/hry/ico-stare-hry.png) no-repeat scroll left top;
    padding-left: 30px;
}

.subpage.games .filter-buttons a:hover, .subpage.games .filter-buttons a.active,
.subpage.games .filter-buttons a.all:hover, .subpage.games .filter-buttons a.all.active,
.subpage.games .filter-buttons a.xmas:hover, .subpage.games .filter-buttons a.xmas.active,
.subpage.games .filter-buttons a.pro-nejmensi:hover, .subpage.games .filter-buttons a.pro-nejmensi.active,
.subpage.games .filter-buttons a.stare:hover, .subpage.games .filter-buttons a.stare.active {
    background: -webkit-linear-gradient(0deg, rgba(210, 62, 62, 1), rgba(243, 83, 83, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, rgba(210, 62, 62, 1), rgba(243, 83, 83, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, rgba(210, 62, 62, 1), rgba(243, 83, 83, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(210, 62, 62, 1), rgba(243, 83, 83, 1)); /* Standard syntax */
    color: #fff;
}

.filter-buttons a.active {
    pointer-events: none !important;
    cursor: default !important;
}

.filter-buttons a:hover span,
.filter-buttons a.active span {
    background-position: left bottom !important;
}

/* game frame v2.0 */

.game-frame-w290.v2 {
    width: 280px;
    height: 208px;
    float: left;
    margin: 20px 13px 0px 0px;
	/*    margin-top: 0px !important;*/
    position: relative;
    padding: 5px !important;
}

.game-frame-w290.v2 a {
    border: #e34444 5px solid;
    border-radius: 10px;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: none;
    padding: 0px;
}

.FlashApp .item-frame .frame {
	border: #e34444 5px solid;
}

.game-frame-w290.v2 > div,
.FlashApp .item-frame .title {
    background: #b73543; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #b73543 , #df5463); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #b73543 , #df5463); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #b73543 , #df5463); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #b73543 , #df5463); /* Standard syntax */
    display: flex;    
    position: absolute;
    bottom: 5px;
    left: 5px;    
}

.game-frame-w290.v2 > div {    
    width: inherit;
	height: 50px;
}

.game-frame-w290.v2 div span,
.game-frame-w290.v2 div.title div,
.FlashApp .item-frame .title div {
    background:  transparent url( /cms/hry/images/ico-game.png) no-repeat scroll 12px center;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px 1px #777;
    padding-left: 46px;
    margin: auto 0px;
    padding: 4px 0px 4px 46px;
    line-height: 18px;
}

.game-frame-w290.v2 div span.knowledge,
.game-frame-w290.v2 div .knowledge,
.game-frame-w290.v2 div.title .knowledge,
.FlashApp .item-frame .knowledge,
.item.game-frame-w290.v2 .title.icon-knowledge div {
    background:  transparent url( /cms/hry/images/ico-knowledge.png) no-repeat scroll 18px center;
}

.game-frame-w290.v2 img {
    width: 280px;
    height: 158px;
}

.game-frame-w290.v2 a:hover {
    background: rgba(255,255,255, 0.1);
}

div.game-frame-w290.v2 a.knowledge {
    background-image: none;
}

div.game-frame-w290.v2 div.gp-as {
    background: none !important;
    display: block;
    left: auto;
}
div.game-frame-w290.v2 div.gp-as a {
    border: none !important;
    border-radius: 0px;
}

.h3-stare-hry {
    color: #E34444;
    margin-top: 40px;
}

