html body.article,
article {
  background-color: #553
}

body.article {
  margin: 0;
}

article {
  color: navajowhite;
  margin: 20px auto 20px 20px;
  max-width: 700px;
  font-family: 'Lora', serif;
  font-weight: 400;
  margin-top: 0;
}

.article article {
  padding-top: 50px;
}

article dt, article dd {
  display: block;
  float: left;
}

article dt {
  clear: left;
  width: 6ex;
}

article h1,
article h2 {
  font: normal 35px ImpactLabelReversedRegular, verdana;
  background-color: black;
  color: navajowhite;
  padding: 5px 30px 3px 20px;
  margin: 20px 0 16px -20px;
  width: 92%;
}

article h1 {
  /* letter-spacing: 5px; */
  background-color: transparent;
  padding: 0 20px;
  margin: 17px 0 0 -20px;
}

article ol li {
  display: list-item;
  list-style: disc;
  list-style-position: inside;
  font-style: italic;
}

article a:link,
article a:visited {
  /*text-decoration: none;*/
  white-space: nowrap;
  color: navajowhite;
  font-weight: 800;
  font-style: normal;
  text-decoration-color: #FFDEAD50;
}

article a:hover,
article a:active {
  color: white;
}

article li a {
  font-family: courier, monospaced;
  font-weight: 400;
}

article p {
  font-style: italic;
}


#back {
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 72px;
  text-decoration: none;
}
