html {
  background-color: black;
  height: 100%;
}

body {
    padding: 0% 2% 1% 2%;
}

@media (min-width: 675px) {
    body {
        padding: 0% 1% 1% 1%;
    }
}


@media (min-width: 768px) {
  .narrow-only {
    display: none;
  }
}

@media (max-width: 767px) {
  .non-narrow-only {
    display: none;
  }
}

body #not-working {
  background-color: yellow;
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 999;
}
body.working #not-working {
  background-color: black;
}
body.working #working {
  opacity: 1;
  z-index: 1000;
}

body #working {
  opacity: 0;
  background: repeating-linear-gradient(to right,
  yellow,
  yellow 2px,
  white 2px,
  white 4px
  );
background: yellow;
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  transition: width 100ms, opacity 300ms;
}

#about {
  text-align: left;
}

#about h2 {
  padding-top: 10px;
}

#about p {
    margin-top: 10px;
    margin-left: 0;
    color: #eee;
    font: small/20px courier, monospaced;
    margin-bottom: 20px;
    text-align: justify;
}

@media (min-height: 700px) {
  #about {
    margin-top: calc(50vh - 20em);
    margin-bottom: calc(50vh - 20em);
  }
}

@media (min-width: 1080px) {
    #about {
      margin-top: 2em;
      margin-bottom: 2em;
    }

  #about p {
    font: medium/40px courier, monospaced;
  }
}


#about a, #about a:visited, #about a:link {
  color: #aaa;
  text-decoration: none;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 2px 4px;
}

#about a:hover, #about a:active {
  color: yellow;
  border-color: yellow;
}

#footer {
}

#footer > p {
  color: #eee;
  font: xx-small/20px courier, monospaced;
  margin-bottom: 20px;
  text-align: justify;
}

#footer > p.description {
  font: small/20px courier, monospaced;
}

#footer a, #footer a:visited, #footer a:link {
  color: white;
  text-decoration: none;
}

#footer a:hover, #footer a:active {
  color: yellow;
  text-decoration: underline;
}

@media (min-width: 1080px) {
  #footer {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #footer p {
    font: medium/40px courier, monospaced;
  }
}


h2 {
  font: normal 21px ImpactLabelReversedRegular, verdana;
}

h2 a {
  color: #68f;
  text-decoration: none;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(75px, auto))
  min-height: 200px;
}

ul>li.score-1 {
  order: 0
}
ul>li.score-2 {
  order: 1
}
ul>li.score-3 {
  order: 2;
}
ul li.error {
  grid-row: 1;
  column-span: all;
  order: 3;
  text-align: center;
  font-size: large;
  color: yellow;
  font-family: courier, mono-spaced;
}
ul>li.show-more {
  order: 4;
  grid-column: 1/-1;
}

ul li {
    background-color: #111;
    margin: -1px 0 0 -1px;
    padding: 0;
    cursor: pointer;
}

ul li div {
    border: 1px solid #333;
    padding: 5px;
    text-align: center;
    cursor: default;
    height: 71px;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul li span {
  display: none;
  font-size: small;
  color: #999;
}

samp {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  border: 1px solid #333;
  font-size: 50px;
  color: #333;
  display: block;
  line-height: 1.4;
  min-height: 70px;
  box-shadow: 2px 2px 5px #999 inset;
}

@media (min-width: 600px) {
  ul {
    grid-template-columns: repeat(auto-fill,minmax(150px, auto))
  }

  ul li div {
    height: 100px;
  }

  ul li span.num {
    padding-top: 5px;
    font-family: courier, sans-serif;
    font-weight: bold;
    display: block;
  }

  ul li:hover span {
    color: white;
  }

  ul li span.num.seq {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 5px;
  }

}

@media (min-width: 720px) {
  ul {
    grid-template-columns: repeat(auto-fill,minmax(110px, auto))
  }
  ul li div {
    height: 150px;
  }
  ul li span.desc {
    display: none;
  }
  ul li span.desc.d1 {
    font-style: italic;
    display: block;
  }
  ul>li.show-more {
    grid-column: auto;
  }
}


@media (min-width:900px) {
  ul li div {
    height: 155px;
  }
  ul li span.num {
    font-size: medium;
  }
}

@media (min-width:1050px) {
  ul li div {
    height: 160px;
  }
}

ul li.selected div {
  background-color: #68f;
  color: #fff;
  border-color: #999;
}

ul li.selected div samp, ul li:hover div samp {
    background-color: #fff;
    color: #000;
}

ul li.selected span {
    color: #fff;
}

.show-more {
  padding: 10px;
  text-align: center;
  font-family: courier, mono-spaced;
  color: gray;
  background-color: #181818;
}
.show-more:hover {
    color: white;
    background-color: #333;
}

@media (max-width: 600px) {
  .hide-on-narrow {
    display: none;
  }
}

#modal.character-size span.desc:hover {
  cursor: pointer;
  text-decoration: underline;
}

#modal.character-size samp {
  cursor: copy;
  font-size: 100px;
  background-color: white;
  text-align: center;
  line-height: 1.2;
  border: 2px solid #333;
  box-shadow: 2px 2px 5px #999 inset;
  padding-bottom: 0;
}

#modal.character-size div span {
  display: block;
  font-size: medium;
  color: white;
  text-align: center;
  font-style: italic;
}

#modal.character-size div span.desc {
  display: inline-block;
  opacity: 0.7;
  padding: 0 0 5px 0;
}
#modal.character-size div span.desc.code {
  font-family: courier, mono-spaced;
  font-size: 121%;
  font-style: normal;
}
#modal.character-size div span.desc:after {
  content: ',';
  padding: 0 4px 0 0;
  opacity: 0.5;
}
#modal.character-size div span.desc.code:after {
  margin-left: -5px;
}


#modal.character-size div span.desc:last-child {
  background-color: #68f;
  position: absolute;
  opacity: 0.5;
  bottom: -5px;
  right: 30px;
  left: 30px;
}

#modal.character-size div span.desc:last-child:after,
#modal.character-size div span.desc:nth-last-child(2):after,
#modal.character-size div span.desc.d1:after {
  content: '';
  padding: 0;
}



#modal.character-size div span.d1 {
  font-size: x-large;
  text-align: center;
  display: block;
  opacity: 1;
}

#modal.character-size div span.num {
  font-family: courier, monospaced;
  font-style: normal;
  cursor: copy;
}

@media (min-width: 600px) and (min-height: 480px) {
  #modal.character-size samp {
    font-size: 126px;
    line-height: 180px;
    border: 4px solid #333;
    box-shadow: 4px 4px 5px #999 inset;
  }
  #modal.character-size div span {
    font-size: xx-large;
  }

  #modal.character-size div span.desc {
    font-size: x-large;
  }

  #modal.character-size div span.desc.d1 {
    font-size: xx-large;
  }

}

@media (min-width: 900px) and (min-height: 480px) {
  #modal.character-size samp {
    margin: 0 -10px;
  }
  #modal.character-size article>div {
    padding: 0 10px;
  }
  #modal.character-size div span.desc:last-child {
    bottom: 0px;
    right: 35px;
    left: 35px;
  }

}

.floating-confirmation {
  position: absolute;
  z-index: 9999;
  color: cornflowerblue;
  background-color: lightyellow;
  font-family: verdana;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  cursor: wait;
  box-sizing: border-box;
  border: 1px solid black;
}


/* https://www.filamentgroup.com/lab/select-css.html */
.select-css {
  display: block;
  font-size: 16px;
  font-family: courier, mono-spaced;
  font-weight: 700;
  color: #bbb;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.96);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #000;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E), linear-gradient(to bottom, #000 0%,#1a1a1a 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #555;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .3);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #bbb;
  outline: none;
}
.select-css option {
  font-weight:normal;
}
