/*
  This fills in holes in Apple's (?) fonts, where some unicode symbols
  are missing. Symbola is a font that has a large population of characters--
  but the quality is much lower than what we get without this font. Therefore,
  we hand-pick characters to pull in from the font.

  It would be good to figure out a more automated way to do this. More work
  to follow.
 */
@font-face {
  font-family: 'Symbola';
  src: url("symbola-font/Symbola-AjYx.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

samp.u1f39c,
samp.u1f39d,
samp.u1d1XX,
samp.u1f398,

samp.u1f568,
samp.u1f569,
samp.u1f56a,
samp.u1f56b,
samp.u1f56c,
samp.u1f56d,
samp.u1f56e,
samp.u1f571,
samp.u1f572,

samp.u1f57b,
samp.u1f57c,
samp.u1f57d,
samp.u1f57e,
samp.u1f57f,
samp.u1f580,
samp.u1f581,
samp.u1f582,
samp.u1f583,
samp.u1f584,
samp.u1f585,
samp.u1f586,
samp.u1f588,
samp.u1f589,

/* "note" */
samp.u1f5c5,
samp.u1f5c6,
samp.u1f5c7,
samp.u1f5c8,
samp.u1f5c9,
samp.u1f5ca,

samp.supplemental-arrows-c,
samp.geometric-shapes-extended,
samp.ancient-greek-musical-notation,
samp.musical-symbols {
  font-family: Symbola, monospace;
}
