body {
    background-color: #b1009c;
    //#b1009c
}

.neviditelne {
    background-color: #b1009c;
    color: #b1009c;
}

.pridavacidivnatlacitka {
    border: 5px solid red;
    margin-bottom: 10px;
}

.yellow {
    color: yellow;
}

.center {
    text-align: center;
}

.divcenter {
    height: 200px;
    background-color: yellow;
}

.divcara {
    height: 15px;
    background-color: #ffc84d;
    border-radius: 10px;
}

.kulate {
    border-radius: 10px;
}

.kulatetlacitka:hover {
    background-color: green;
}

.kulatetlacitka {
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    margin: 0px;
    border: 0px;
}

.kulatetlacitka:active {
    background-color: yellow;
}

.cervene {
    background-color: red;
}
