body {
    background-color: #b1009c;
    //#b1009c
}

.neviditelne {
    background-color: #b1009c;
    color: #b1009c;
}

.pridavacidivnatlacitka {
    border: 5px solid red;
    margin-bottom: 10px;
}

.yellow {
    color: yellow;
}

.center {
    text-align: center;
}

.divcenter {
    height: 200px;
    background-color: yellow;
}

.divcara {
    height: 15px;
    background-color: #ffc84d;
}
