<h1 class="mt-4">Vítejte na mém webu  <%= user.osloveni %>.</h1>
<div class="lead mb-3">UserData: <%= user.userData %></div>
<div class="lead mb-3">Uživatel: <%= user.name %></div>
<div class="lead mb-3">E-mail: <%= user.email %></div>
<button onClick="user.userData = "user datahxcjmnbgfcvgjhkcndvbhtjcd">fdgh</button>
<a href="/users/logout" class="btn btn-secondary">Odhlásit</a>
