.fs-18 {
    font-size: 18px !important;
}

.tvGuide .headline {
    width: 270px;
    /* width: 310px; */
}

.tvGuide ul.guideMenu {   
    margin: 64px 0px 40px;
}

.tvGuide ul.guideMenu li {
    margin-right: 10px;
}

.tvGuide ul.guideMenu li.arrow, 
.tvGuide ul.guideMenu li:not(.arrow) a:hover,
.tvGuide ul.guideMenu li.active a {    
    background: #a6ae3a; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #bdc552 , #a6ae3a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #bdc552 , #a6ae3a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #bdc552 , #a6ae3a); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #bdc552 , #a6ae3a); /* Standard syntax */        
}

.tvGuide ul.guideMenu li.active a {    
    pointer-events: none;
    cursor: default;
}

.tvGuide ul.guideMenu li.arrow {  
    width: 38px; 
    height: 48px;
    border: #a2aa38 1px solid;
    border-radius: 5px;
}

.tvGuide ul.guideMenu li:not(.arrow) a {    
    background-color: #fff;      
    border: #a6ae3a 2px solid;
    border-radius: 5px;
    height: 30px;
    width: 116px;
    text-align: center;
    padding: 8px 0px;        
}

.tvGuide ul.guideMenu li a p {
    color: #a6ae3a;    
}

.tvGuide ul.guideMenu li a p.date {    
    font-size: 11px;    
}

.tvGuide ul.guideMenu li a p:not(.date) {    
    font-size: 14px;
    font-weight: bold;
}

.tvGuide ul.guideMenu li.active a p,
.tvGuide ul.guideMenu li:hover a p {    
    color: #fff;    
}

.tvGuide ul.guideMenu li.arrow:hover {    
    background: #bdc552; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #a6ae3a , #bdc552); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #a6ae3a , #bdc552); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #a6ae3a , #bdc552); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #a6ae3a , #bdc552); /* Standard syntax */        
}

.tvGuide ul.guideMenu li.arrow a {	
    height: 100%;
    width: 100%;
    display: block;
}

.tvGuide ul.guideMenu li.arrow.prev a {
    background: transparent url( /cms/program/images/tvGuide-ico-arrow-prev.png) no-repeat scroll left top;
}

.tvGuide ul.guideMenu li.arrow.next a {
    background: transparent url( /cms/program/images/tvGuide-ico-arrow-next.png) no-repeat scroll left top;
}

.tvGuide a.scrollTop {
    background: transparent url( /cms/program/images/arrow-up.png) no-repeat scroll center center;
    width: 100%;
    height: 20px;
    display: block;
    margin-top: 10px;
}

.tvGuide a.scrollTop:hover {
    opacity: 0.8;
}

/* Program --- Content --- START --- */

.tvGuide .program table {
    clear: both;
    width: 100%;
    border-collapse:collapse;
}

.tvGuide .program table tr.alt {
    background-color: #fbfbfb;
}

.tvGuide .program table tr td {
    border-top: #dee2ad solid 1px;
    border-bottom: #dee2ad solid 1px;
    height: 120px;
}

.tvGuide .program table tr.blok td {
    width: 40px;
    vertical-align: top;
    border-bottom: none;
    border-right: #dee2ad solid 1px;
    background-color: #f8f9e6;
    position: relative;
}

.tvGuide .program table tbody:first-child td {
    border-top: none;
}

.tvGuide .program table tr:last-child td {
    border-bottom: none;
}

.tvGuide div.guideDecko div.program {
    background: #ffffff url( /cms/program/images/program/bg-table.png) repeat-y scroll left top;
    padding: 0px 2px;
}

.tvGuide div.guideDecko div.table-bottom {
    background: transparent url( /cms/program/images/bg-bottom_guideDecko.png) no-repeat scroll left bottom;
    height: 10px;
}


.tvGuide .program .r-270 {
    transform: rotate(270deg);
    display: block;
    color: #a6ae3a;
    font-weight: bold;
    font-size: 15px;
    width: 40px;
    line-height: 40px;
    cursor: default;
    position: absolute;    
    top: 50%;
}

.tvGuide .program table tr td.cas + td, 
.tvGuide .program table tr.blok td.nazev h3 {
    color: #8c952a;
    margin: 25px 0px 0px 20px;
    font-weight: normal;
}

.tvGuide .program table tr td.cas {
    background: transparent url( /cms/program/images/program/program-logo-ct5.png) no-repeat scroll center center;
/*    width: 90px;*/
    color: #a6ae3a;    
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding-top: 19px;
}

.tvGuide .guideDecko .program table tr td.cas {
    width: 150px;
}

.tvGuide .guideOthers .program table tr td.cas {
    width: 110px;
}

.tvGuide .program table tr td div {
    position: relative;   
}

.tvGuide div.guideDecko { 
    background: transparent url( /cms/program/images/bg-top_guideDecko.png) no-repeat scroll left top;  
    padding-top: 10px;
    width: 760px;
}

.tvGuide div.guideDecko table tr td div img {
    width: 160px;
    height: 90px;
}

.tvGuide div.guideOthers table tr td div img {
    width: 50px;
    height: 80px;
    padding: 2px;
}

.tvGuide .program table tr td.text {
    width: 390px;
    padding: 10px 40px 10px 20px;
    position: relative;
}

.tvGuide .program table tr td.text h2, 
.tvGuide .program table tr td.text h3 {
    color: #a6ae3a;
    /*line-height: 8px;*/    
}

.tvGuide .program table tr td.text h2 {
    font-size: 18px;
    line-height: 22px;
    padding: 4px 0px;
}
.tvGuide .program table tr td.text a h2 {
    text-decoration: underline;
}
.tvGuide .program table tr td.text a:hover h2 {
    text-decoration: none;
}
.tvGuide .program table tr td.text h2 span {
    display: inline;
}

.tvGuide .program table tr td.text h3 {
    font-size: 14px;
    font-weight: normal;
}

.tvGuide .program table tr td.text p {
    font-size: 12px;
    color: #666666;
    padding-top: 0px;
}

.tvGuide .program table tr td.text ul {
    position: absolute;
    right: 14px;
    top: 56px;
}

.tvGuide .program table tr td.text ul li.info a {
    background: transparent url( /cms/program/images/ico-icko.png) no-repeat scroll center center; 
    width: 30px;
    height: 30px;    
    display: block;
}

.tvGuide .program table tr td.text ul li.info a:hover {
    opacity: 0.6;
}

/* Program --- Content --- END --- */

/* Program --- Detail --- START --- */

/*div.content.program table tr.detail td {
    background-color: #ffefd2;
    height: 425px;
}

div.content.program table tr.detail td div {
    position: relative;
    	overflow: hidden;
    padding: 10px;
    height: 380px;
    margin: 20px 0px 0px 65px;
}

div.content.program table tr.detail td div img.ukazatel {
    position: absolute;
    top: -35px;
    left: 103px;
}

div.content.program table tr.detail td div a.video {
    background: transparent url( /cms/program/images/program/ramecek-detail.png) no-repeat scroll left top;
    width: 528px;
    height: 43px;
    padding-top: 337px;
    padding-left: 52px;
    color: #fff;
    font-size: 92%;
}

div.content.program table tr.detail td div a span {
    display: inline;
    font-weight: bold;
}

div.content.program table tr.detail td div a.close {
    background: transparent url( /cms/program/images/program/ico-close.png) no-repeat scroll left top;
    height: 15px;
    width: 15px;
    left: 625px;
    top: -15px;
}*/

/* Program --- Detail --- END --- */

/* Program --- Content v2 --- START --- */

.tvGuide div.guideOthers { 
    background: transparent url( /cms/program/images/bg-top_guideOthers.png) no-repeat scroll left top;    
    width: 420px;
    overflow: hidden;
    padding-top: 10px;
}

.tvGuide div.guideOthers div.program {
    background: #ffffff url( /cms/program/images/program/bg-table-side.png) repeat-y scroll left top;
    width: 416px;
    padding: 0px 2px 0px 2px;
}

.tvGuide div.guideOthers div.table-bottom {
    background: transparent url( /cms/program/images/bg-bottom_guideOthers.png) no-repeat scroll left bottom;
    height: 10px;
    width: 420px;
}

.tvGuide div.guideOthers table tr td.cas-ct1 {
    background: transparent url( /cms/program/images/program/program-logo-ct1.png) no-repeat scroll center center;
}

.tvGuide div.guideOthers table tr td.cas-ct2 {
    background: transparent url( /cms/program/images/program/program-logo-ct2.png) no-repeat scroll center center;
}

.tvGuide div.guideOthers table tr td.cas-ct4 {
    background: transparent url( /cms/program/images/program/program-logo-ct4.png) no-repeat scroll center center;
}

.tvGuide div.guideOthers table tr td.cas-ct5 {
    background: transparent url( /cms/program/images/program/program-logo-ct5.png) no-repeat scroll center center;
}

.tvGuide div.guideOthers table tr td.cas.ct1 {
    background: transparent url( /cms/program/images/program/logo-ct1.png) no-repeat scroll center center;
}

.tvGuide div.guideOthers table tr td.cas.ct2 {
    background: transparent url( /cms/program/images/program/logo-ct2.png) no-repeat scroll center center;
}

.tvGuide div.guideOthers table tr td.cas.sport {
    background: transparent url( /cms/program/images/program/logo-ct4.png) no-repeat scroll center center;
}

.tvGuide div.guideOthers table tr td.text {
    width: 180px;
}

.tvGuide div.guideOthers table tr td div a {    
    background: transparent url( /cms/program/images/program/foto-ramecek-maly.png) no-repeat scroll left top;
    position: absolute;
    width: 54px;
    height: 84px;
    top: 0px;
    left: 0px;
}

.tvGuide div.guideOthers table tr td div a:hover {
    background-position: left bottom;
}

.tvGuide div.guideOthers table tr td > p {
    width: 150px;
    float: left;
}

.tvGuide div.guideOthers table tr td a.info {
    float: right;
    margin-top: 22px;
}

/* Program --- Content v2 --- END --- */

.tvGuide a.disabled {
    cursor: default;
    pointer-events: none;
}
