/* Hlavní menu */
div.linky {
    margin: 30px auto 0;
    height: 240px;
    position: relative;
}

div.linky {
   margin-left: 307px;
   padding-top: 34px;
   box-sizing:border-box;
}

div.linky ul li a {
    width: 168px;
    height: 169px;
}

div.linky ul li.hry {
    background: transparent url( /cms/common/images/mainLinksSmaller.png) no-repeat scroll 0 1px;
}

div.linky ul li.hry:hover {
    background-position: 0 bottom;
}

div.linky ul li.videa {
    background: transparent url( /cms/common/images/mainLinksSmaller.png) no-repeat scroll -168px 1px;
}

div.linky ul li.videa:hover {
    background-position: -168px bottom;
}

div.linky ul li.porady {
    background: transparent url( /cms/common/images/mainLinksSmaller.png) no-repeat scroll -336px 1px;
}

div.linky ul li.porady:hover {
    background-position: -336px bottom;
}

div.linky ul li.pro-nejmensi {
    background: transparent url( /cms/common/images/mainLinksSmaller.png) no-repeat scroll -504px 1px;
}

div.linky ul li.pro-nejmensi:hover {
    background-position: -504px bottom;
}

/* Pozadí */
div.background.hp {
    background: url(/cms/hp/images/advent2019/img-footer.png) center bottom no-repeat,
        url(/cms/hp/images/advent2019/img-top.png) center 127px no-repeat,
        /*linear-gradient(#c8d6ec,#e7f0fa) !important;*/
        linear-gradient(#0e2245, #2b5497) !important;
    /*padding-bottom: 50px;*/
}

/* Pruh nad dlaždicemi */
.advent2019-pruh {
    display: block;
    width: 1193px;
    height: 239px;
    background: url(/cms/hp/images/advent2019/advent-2019-pruh.png);       
}

.vecernicek2020-pruh {
    display: block;
   width: 1183px;
    height: 230px;
    background: transparent url(/cms/hp/images/advent2019/bg-hp-vecernicek.png) center center;
    border: 5px #fff solid;
    border-radius: 20px;
    border-top-right-radius: 8px;
}

.advent2019-pruh:hover, 
.vecernicek2020-pruh:hover {
    filter: brightness(1.1);
}

/* Sněžení */
.a18-snow {				
	position: absolute;
	left: 0;
	top: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#snow01 {
	background: transparent url("/cms/hp/images/advent2019/snow01.png") repeat scroll left top;
	opacity: 0.4;
}
#snow02 {
	background: transparent url("/cms/hp/images/advent2019/snow05.png") repeat scroll left top;
	opacity: 0.1;
}

#snow03 {
	background: transparent url("/cms/hp/images/advent2019/snih-pruh05.png") repeat scroll left top;
	/*opacity: 0.5;*/
}


