underline {
    text-decoration: underline;
    font-size: large;
}

verticalline {
    border-left: 15px solid white;
    border-right: 3px solid black;
    margin-right: 2px;
    height: 19px;
}

down {

}
